<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pro gym</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref="layout.main" ui-sref-active="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-show="!user">
                <li ui-sref="layout.login" ui-sref-active="active"><a>Login</a></li>
                <li ui-sref="layout.signup" ui-sref-active="active"><a>Signup</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-show="user">
                <li ui-sref="layout.profile" ui-sref-active="active"><a>{{user.firstName}} {{user.lastName}}</a></li>
                <li><a ng-click="logOut($event)">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
